ipydagred3
ipykernel
ipympl
ipyregulartable
IPython
ipywidgets
jupyterlab
jupyterlab_iframe
jupyterlab-nbconvert-nocode
matplotlib
mplfinance
nbresuse
pandas
plotly
pyarrow
git+git://github.com/iexcloud/pyEX@main#egg=pyEX
requests
scikit-learn
scipy
seaborn
statsmodels
tributary
vapeplot
